<template>
  <div>
    <header class="main-header" id="header">
      <div>
        <a href="#hd" class="main-header__brand">
          <img src="../../assets/elc-blue.png" alt="Election Countdown" id="brand">
        </a>
      </div>
      <scrollactive
        class="main-nav"
        id="nav"
        ref="scrollactive"
        :offset="100"
        :duration="600"
      >
        <ul class="main-nav__items">
          <li class="main-nav__item">
            <a href="#analytics" class="scrollactive-item">ANALYTICS</a>
          </li>
          <!--<li class="main-nav__item">
            <a href="#tools" class="scrollactive-item">TECHSTACK</a>
          </li> -->
          <li class="main-nav__item">
            <a href="#team" class="scrollactive-item">MEET THE TEAM</a>
          </li>
          <!--<li class="main-nav__item main-nav__item--cta">
          <a href="">Start Hosting</a>
        </li>-->
        </ul>
        <div class="main-nav__burger">
          <Burger></Burger>
        </div>
      </scrollactive>
    </header>
    <Sidebar>
      <ul class="sidebar-panel-nav">
        <li class="mobile-nav__item">
          <a href="#analytics">ANALYTICS</a>
        </li>
        <!--<li class="mobile-nav__item">
          <a href="#tools">TECHSTACK</a>
        </li>-->
        <li class="mobile-nav__item">
          <a href="#team">TEAM</a>
        </li>
      </ul>
    </Sidebar>
  </div>
</template>

<script>
import Burger from "./Burger.vue";
import Sidebar from "./Sidebar.vue";
import { menuScroll } from "../../store/scroll.js";

export default {
  components: {
    Burger,
    Sidebar
  },
  mounted() {
    menuScroll();
  }
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*background: #2ddf5c;*/
  /*background: #B56357;*/
  /*background: #557A95;*/
  /*padding: 8px 16px;*/
  padding: 2rem 4rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
}

/*.main-header__brand {
  /*color: #0e4f1f;
  color: #008080;
  text-decoration: none;
  /*font-weight: bold;
  height: 0.5rem;
  /* width: 20px; 
  /*font-family: "Broadway", sans-serif;
  font-family: "Fredoka One", cursive;
}*/

.main-header__brand img {
  height: 4.5rem;
  vertical-align: middle;
  /* width: 100%; */
}

.main-header__timer {
  display: inline-block;
  vertical-align: middle;
}

.main-nav__items {
  display: none;
}

.main-nav__burger {
  vertical-align: middle;
  z-index: 1999;
}

ul.sidebar-panel-nav {
  list-style-type: none;
  margin-top: 2rem;
}

ul.sidebar-panel-nav > li > a {
  color: #008080;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding-bottom: 0.5em;
  text-align: center;
  letter-spacing: 1px;
}

ul.sidebar-panel-nav > li > a:hover,
ul.sidebar-panel-nav > li > a:active {
  color: #ff5000;
}

@media (min-width: 40rem) {
  .main-nav {
    /* display: inline-block;
  text-align: right;*/
    /*width: calc(100% - 340px);*/
    /*width: calc(100% - 21.3rem);
  vertical-align: middle;*/
    display: flex;
  }

  .main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .main-nav__item {
    /*margin: 0 16px;*/
    margin: 0 1rem;
  }

  .main-nav__item a {
    text-decoration: none;
    /*color: #0e4f1f;*/
    /*color: #76323F;*/
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    /*padding: 3px 0;*/
    padding: 0.2rem 0;
  }

  .main-nav__item a:hover,
  .main-nav__item a:active {
    color: #008080;
    /*border-bottom: 5px solid white;*/
    /*border-bottom: 0.3rem solid white;*/
  }

  .main-header .is-active {
    color: #008080;
    font-weight: bold;
  }

  .main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    /*padding: 8px 16px;
  border-radius: 8px;*/
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  .main-nav__item--cta a:hover,
  .main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
  }
}
</style>
