<template>
  <div>
    <h2 class="section-heading">ANALYTICS</h2>
  <div class="tabs">
    <input type="radio" name="tabs" id="tabone" checked="checked" />
    <label for="tabone">Democrat</label>
    <div class="tab">
      <h1>Joseph R. Biden Jr.</h1>
      <h5>Former vice president; former senator from Delaware</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

    <input type="radio" name="tabs" id="tabtwo" />
    <label for="tabtwo">Republican</label>
    <div class="tab">
      <h1>Donald J. Trump</h1>
      <h5>U.S. president; real estate developer; reality television star</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

    <input type="radio" name="tabs" id="tabthree" />
    <label for="tabthree">Tab Three</label>
    <div class="tab">
      <h1>Testing data fetch</h1>
      <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
            <tr v-for="actor in actors">
                <td>{{actor.id}}</td>
                <td>{{actor.name}}</td>
                <td>{{actor.age}}</td>
                <td>{{actor.gender}}</td>
            </tr>
            <!-- Error Row -->
    <tr v-if="actors.length == 0">
        <td colspan="4">
            No records found.
        </td>
    </tr>
        </table>
    </div>
  </div>
  </div>
</template>

<script>
 import axios from "axios";
  
export default {
  data() {
    return {
      actors: []
    };
  },
  mounted() {
    axios.get("https://kollywood.herokuapp.com/actors?page=1")
    .then(response => {
      this.actors = response.data.actors
      })
    .catch(error =>(
                console.log(error)
                ));
  }
};
</script>

<style scoped>
.section-heading {
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 0.9rem;
  color: #212529;
  font-weight: 700;
  text-align: center;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
}
/*.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #90caf9;
  border: 1px solid gray;
  font-weight: bold;
  transition: background ease 0.2s;
}*/
.tabs label {
  order: initial;
  display: block;
  padding: 1rem 2rem;
  cursor: pointer;
  background: #90caf9;
  border: 1px solid gray;
  font-weight: bold;
  transition: background ease 0.2s;
  margin-right: 0;
  margin-top: 0.2rem;
  width: 100%;
}
.tabs .tab {
  /*order: 99;*/
  order: initial;
  flex-grow: 1;
  width: 100%;
  height: 500px;
  display: none;
  padding: 1rem;
  background: #fff;
  border: 1px solid gray;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"]:checked + label {
  background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

/* @media (max-width: 40rem) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    margin-right: 0;
    margin-top: 0.2rem;
    width: 100%;
  }
}*/
@media (min-width: 40rem) {
  .tabs .tab {
  order: 99;
}
  .tabs label {
    order: 1;
    margin-right: 0.2rem;
    width: auto;
  }
}
</style>
