<template>
  <div class="bg">
    <div class="timer">
      <Timer></Timer>
    </div>
    <h1 class="title-1">Dive Into The Crowd</h1>
    <h6 class="title-2">LET YOUR VOICE BE HEARD</h6>
  </div>
</template>

<script>
import Timer from "./Timer.vue";

export default {
  components: {
    Timer
  }
};
</script>
<style>
/*@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic');*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.bg {
  /*background: rgba(0, 128, 0, 0.5);*/
  background-image: url("../assets/bg-5.png");
  text-align: center;
  height: 100%;
}

.timer {
  padding-top: 6rem;
}

.title-1 {
  color: white;
  margin-top: 4rem;
  font-size: 2.2rem;
  font-style: italic;
  line-height: 1.38rem;
  font-weight: normal;
  /*font-family: "Droid Serif", sans-serif;*/
  font-family: "Lora", serif;
  /*font-family: "Playfair Display", serif;*/
  margin-bottom: 1.25rem;
}

.title-2 {
  color: white;
  margin-top: 2rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.13rem;
  margin-bottom: 1.6rem;
}

@media (min-width: 40rem) {
  .timer {
    padding-top: 8rem;
  }

  .title-1 {
    font-size: 3rem;
  }

  .title-2 {
    font-size: 4.13rem;
    margin-top: 3rem;
  }
}
</style>
