<template>
  <div class="main-footer">
        <nav>
            <ul class="main-footer__links">
                <li class="main-footer__link">
                    <a href="#">Support</a>
                </li>
                <li class="main-footer__link">
                    <a href="#">Terms of Use</a>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
.main-footer {
  background-color: #212529;
  padding: 0.5rem;
  margin-top: 2rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: block;
  margin: 1rem 0;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

@media (min-width: 40rem) {
.main-footer {
  padding: 2rem;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
  }
}

</style>