<template>
  <div class="page-section" id="team">
    <div class="text-center">
      <h2 class="section-heading">WE'RE CUTE</h2>
      <h3 class="section-subheading text-muted">
        Behind the scenes
      </h3>
    </div>
    <div class="team-member__list">
      <div class="team-member">
        <img src="../assets/team-1.jpg" alt="" />
        <img src="../assets/frontend-2.png" class="frontend" alt="" />
        <h4>Sheikh Samsuzzahn</h4>
        <p class="text-muted">Backend Developer</p>
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="team-member">
        <img src="../assets/backend-3.png" class="backend" alt="" />
        <img src="../assets/team-2.jpg" alt="" />
        <h4>Makina Rahman</h4>
        <p class="text-muted">Frontend Developer</p>
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--<div class="tag-line text-center">
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>-->
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
/*@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic');*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap");

.page-section {
  padding: 6.25rem 0;
}

.text-center {
  text-align: center;
}

.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.9rem;
  color: #212529;
  font-weight: 700;
}

.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4.7rem;
  text-transform: none;
  /*font-family: "Droid Serif", sans-serif;*/
  font-family: "Lora", serif;
}

.text-muted {
  color: #6c757d;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.team-member__list {
  margin: 0;
  padding: 0rem;
  text-align: center;
}

.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.4rem solid rgba(0, 0, 0, 0.1);
  margin: auto;
  border-radius: 50%;
  margin-top: 7rem;
}

.team-member .frontend {
 border: none;
 border-radius: 0%;
 position: relative;
 bottom: 6.875rem;
 right: 3.75rem;
}

.team-member .backend {
 border: none;
 border-radius: 0%;
 position: relative;
 bottom: 6.875rem;
 left: 2.5rem;
}

.team-member p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.team-member h4 {
  margin-top: 1.6rem;
  margin-bottom: 0;
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
  margin-right: 0.5rem;
}

ul.social-buttons {
  margin-bottom: 1rem;
}

ul.social-buttons li a {
  font-size: 1.25rem;
  line-height: 3.1rem;
  display: block;
  width: 3.1rem;
  height: 3.1rem;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #008080;
}

/*.tag-line {
  margin: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}*/

@media (min-width: 40rem) {
  .team-member {
    display: inline-block;
    width: 30%;
    margin-bottom: 2.1rem;
    text-align: center;
    vertical-align: top;
  }
}
</style>
