<template>
  <div class="techstack">
    <div class="tool">
      <a href="https://vuejs.org/">
        <img class="tool-image" src="../assets/vuejs.png" alt="" />
      </a>
    </div>
    <div class="tool">
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
        <img class="tool-image" src="../assets/javascript-2.png" alt="" />
      </a>
    </div>
    <div class="tool">
      <a href="https://flask.palletsprojects.com/en/1.1.x/">
        <img class="tool-image" src="../assets/flask-python.png" alt="" />
      </a>
    </div>
    <div class="tool">
      <a href="https://www.postman.com/">
        <img class="tool-image" src="../assets/postman.png" alt="" />
      </a>
    </div>
    <div class="tool">
      <a href="https://www.tweepy.org/">
        <img class="tool-image" src="../assets/tweepy.png" alt="" />
      </a>
    </div>
    <div class="tool">
      <a href="https://cloud.google.com/storage">
        <img class="tool-image" src="../assets/google-cloud.png" alt="" />
      </a>
    </div>
    <div class="tool">
      <a href="https://spacy.io/">
        <img class="tool-image" src="../assets/spacy.jpg" alt="" />
      </a>
    </div>
    <div class="tool">
      <a href="https://scikit-learn.org/stable/">
        <img class="tool-image" src="../assets/scikit-learn.png" alt="" />
      </a>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style scoped>
.techstack {
  text-align: center;
  margin-top: 2rem;
}

.tool {
  display: inline-block;
}

img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  opacity: 0.5;
  padding: 1.5rem 1rem;
}

/* Disable grayscale on hover */
img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  opacity: 1;
}

@media (min-width: 40rem) {
  img {
    padding: 1.5rem 2rem;
  }
}
</style>
