<template>
  <div id="timer" class="timer">
    <!--  Timer Component  -->
    <TimerCalc
      starttime="Aug 13, 2020 15:37:25"
      endtime="Sep 8, 2020 16:37:25"
      trans='{  
         "day":"Days",
         "hours":"Hours",
         "minutes":"Minutes",
         "seconds":"Seconds",
         "expired":"Event has been expired.",
         "running":"Till the end of event.",
         "upcoming":"Till the start of event.",
         "status": {
            "expired":"Expired",
            "running":"Running",
            "upcoming":"Upcoming"
           }}'
    ></TimerCalc>
    <!--  End! Timer Component  -->
  </div>
</template>

<script>
import TimerCalc from "./TimerCalc.vue";

export default {
  components: {
    TimerCalc
  }
};
</script>

<style>
.timer {
  /*font-size: 20px;
  margin-top: 0px;*/
  font-size: 1.25rem;
  margin-top: 0rem;
  color: #fff;
  text-align: center;
}
</style>
