<template>
  <div>
    <div class="day">
      <span class="number">{{ days }}</span>
      <div class="format">{{ wordString.day }}</div>
    </div>
    <div class="hour">
      <span class="number">{{ hours }}</span>
      <div class="format">{{ wordString.hours }}</div>
    </div>
    <div class="min">
      <span class="number">{{ minutes }}</span>
      <div class="format">{{ wordString.minutes }}</div>
    </div>
    <div class="sec">
      <span class="number">{{ seconds }}</span>
      <div class="format">{{ wordString.seconds }}</div>
    </div>
   <!-- <div class="message">{{ message }}</div>
    <div class="status-tag" :class="statusType">{{ statusText }}</div> -->
  </div>
</template>

<script>
export default {
  props: ["starttime", "endtime", "trans"],
  data() {
    return {
      timer: "",
      wordString: {},
      start: "",
      end: "",
      interval: "",
      days: "",
      minutes: "",
      hours: "",
      seconds: "",
      message: "",
      statusType: "",
      statusText: ""
    };
  },
  created() {
    this.wordString = JSON.parse(this.trans);
  },
  mounted() {
    this.start = new Date(this.starttime).getTime();
    this.end = new Date(this.endtime).getTime();
    // Update the count down every 1 second
    this.timerCount(this.start, this.end);
    this.interval = setInterval(() => {
      this.timerCount(this.start, this.end);
    }, 1000);
  },
  methods: {
    timerCount(start, end) {
      // Get todays date and time
      var now = new Date().getTime();

      // Find the distance between now an the count down date
      var distance = start - now;
      var passTime = end - now;

      if (distance < 0 && passTime < 0) {
        this.message = this.wordString.expired;
        this.statusType = "expired";
        this.statusText = this.wordString.status.expired;
        clearInterval(this.interval);
        return;
      } else if (distance < 0 && passTime > 0) {
        this.calcTime(passTime);
        this.message = this.wordString.running;
        this.statusType = "running";
        this.statusText = this.wordString.status.running;
      } else if (distance > 0 && passTime > 0) {
        this.calcTime(distance);
        this.message = this.wordString.upcoming;
        this.statusType = "upcoming";
        this.statusText = this.wordString.status.upcoming;
      }
    },
    calcTime(dist) {
      // Time calculations for days, hours, minutes and seconds
      this.days = Math.floor(dist / (1000 * 60 * 60 * 24));
      this.hours = Math.floor(
        (dist % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      );
      this.minutes = Math.floor((dist % (1000 * 60 * 60)) / (1000 * 60));
      this.seconds = Math.floor((dist % (1000 * 60)) / 1000);
    }
  }
};
</script>

<style scoped>
.day,
.hour,
.min,
.sec {
  /*font-size: 18px;*/
  font-size: 2.6rem;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  margin: 0 0;
}

.format {
  font-weight: 500;
  /*font-size: 12px;*/
  font-size: 0.8rem;
  opacity: 0.8;
  /*width: 55px;*/
   width: 4.6rem;
}

.number {
  background: rgba(51, 51, 51, 0.53);
  display: inline-block;
  /*padding: 2px 3px;
  border-radius: 5px;
  width: 50px;*/
  padding: 0.13rem 0.19rem;
  border-radius: 0.3rem;
  width: 4.8rem;
  text-align: center;
}

.message {
  /*font-size: 11px;
  margin-top: 2px;*/
  font-size: 0.69rem;
  margin-top: 0.13rem;
  font-weight: 500;
}

.status-tag {
  /*width: 180px;
  margin: 5px auto;
  padding: 3px 0;
  font-size: 15px;
  border-radius: 15px;*/
  width: 11.25rem;
  margin: 0.3rem auto;
  padding: 0.19rem 0;
  font-size: 0.9rem;
  border-radius: 0.9rem;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.upcoming {
  background-color: lightGreen;
}

.running {
  background-color: gold;
}

.expired {
  background-color: silver;
}

@media (min-width: 40rem){
.day,
.hour,
.min,
.sec {
  /*font-size: 18px;*/
  font-size: 3.1rem;
}

.format {
  font-size: 1rem;
   width: 6.4rem;
}

.number {
  width: 6.1rem;
}
}
</style>
