<template>
  <div class="container">
    <div class="header" id="hd">
      <Header></Header>
    </div>
    <div class="background">
      <Background></Background>
    </div>
    <div class="analytics" id="analytics">
      <Analytics></Analytics>
    </div>
    <div class="team" id="team">
      <Team></Team>
    </div>
    <div class="tools">
      <TechStack></TechStack>
    </div>
    <div class="footer">
      <Footer></Footer>
    </div>
  </div>
</template>

<script>
import Header from "./components/header/Header.vue";
import Background from "./components/Background.vue";
import Analytics from "./components/Analytics.vue";
import Team from "./components/Team.vue";
import TechStack from "./components/TechStack.vue";
import Footer from "./components/Footer.vue";

export default {
  components: {
    Header,
    Background,
    Analytics,
    Team,
    TechStack,
    Footer
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto 800px auto auto auto auto;
  grid-template-areas:
    "header"
    "background"
    "analytics"
    "team"
    "tools"
    "footer";
}

.header {
  grid-area: header;
}

.background {
  grid-area: background;
}

.analytics {
  /*background: rgba(255, 0, 0, 0.5);*/
  /*margin-top: 103px;*/
  grid-area: analytics;
}

.team {
  background-color: #f8f9fa;
  grid-area: team;
}

.tools {
  grid-area: tools;
}

.footer {
  grid-area: footer;
}
</style>
